# Usage: pip install -r requirements.txt

# import -----------------------------------------------------------------------------------------------------------------------------------------------------------
selenium
opencv-python
dlib
numpy
mediapipe